{% extends "reviewproduct/base.html" %}
{% block content %} 
<head>
    <title>Product Review - Iphone X </title>
</head>
<body>
    <h1>Product review - Iphone X</h1>
</body>
<h2>Price: 1149.99</h2>
<h2>Category: Phone</h2>
<h2>Release date: 2020-09-13</h2>
<h2>Description: This is the latest CPU by AMD. Featuring the ampure 5 architecture with 12 cores and 24 threaded cores its the best price to performance cpu on the market.</h2>
<h1>Reviews: </h1>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-create'  %}"> create review</a>
{% for review in reviews %}
{% if review.product.name == "IPhone X" %}

<article class="media content-section">
  <img class = "rounded-circle article-img" src="{{review.author.profile.profile_picture.url}}"/>
  <div class="media-body">

    <div class="article-metadata">
      
      <a class="mr-2" href="{% url 'review-review_text' review.id %} ">This review is by {{review.author}}</a>

      <small class="text-muted">on {{review.Date_review}}</small>

    </div>

    <h2><a class="article-title" >Rating: {{review.product_rating}}/10</a></h2>

    <p class="article-content">{{review.review_text }}</p>

    {% if review.author == user %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-update' review.id %}"> Update</a>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-delete' review.id %}"> Delete</a>
    {% endif %}
    


  </div>

</article>
{% endif %}
{% endfor %}

{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1"> First </a>
<a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.previous_page_number}}"> Previous </a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}"> {{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}" > {{ num }} </a>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number }}"> Next </a>
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}"> Last</a>
{% endif %}
{% endif %}
{% endblock content %}
