{% extends "reviewproduct/base.html" %}
<!DOCTYPE html>
{% block content %}
<html>
 

    <head>
            <title>Product Review - Products </title>
    </head>
    <body>
        <h1>Welcome to a Technology Review Service - Product review page</h1>
    </body>
    <h1>Product Review</h1>
        {% for review in reviews %} 
        <article class="media content-section">

            <div class="media-body">
          
              <div class="article-metadata">
          
                <a class="mr-2" href="#">{{ Student Name }} ({{Course}})</a>
          
                <small class="text-muted">{{ Date Reported}}</small>
          
              </div>
          
              <h2><a class="article-title" href="#">{{ The Issue Type  }} in {{issue.room}}</a></h2>
          
              <p class="article-content">{{ The Details }}</p>
          
            </div>
          
          </article>
    {% endfor %}
{% endblock content %}
</html>