{% extends "reviewproduct/base.html" %}
{% block content %}
<div class="content-section">
    <form method ="POST">
        {%csrf_token%} 
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Delete Review
            </legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">
                Yes </button>
            <button class="btn btn-outline-danger" type="submit">
            <a class="btn btn-outline-secondary" href="{% url 'review-review_text' object.id %}">Cancel</a>
            </button>
        </div>
        </form>
        {% endblock content %}